{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>UCSC Tuition Hike</title>
   <link rel="stylesheet" href="{% static 'main1.css' %}">
   <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
  {% load static %}
  <!--Navigation Bar-->
  <div class="container-fluid">
  <header class="row row-bottom-margin" >
    <div class="col-md-2">
      <h1>UCSC Tuition Hike</h1>
    </div>
    <div class="col-md-10">
      <ul>
        <a href="#facts">
          <li>
           <h3>The Facts</h3>
         </li>
        </a>
        <a href="#sol">
        <li>
          <h3>Let's Take Action!</h3>
        </li>
        </a>
    <!--Possibly remove "Take Action" Button-->
<!--          <a href="#footer">
        <li class="lastlink">
         <h3>Take Action</h3>
        </li>
        </a>
 -->      </ul>
    </div>
  </header>
  </div>
  <!--Banner-->
    <div class="container-fluid">
  <section class="take row", style="background: url('{% static 'assets/images/prot.jpg' %}'); background-size: cover; height: 400px;">
    <div class="message col-md-12">
      <h1>Take action on your future</h1>
      <a href="#footer"><h3 class="takebutton lastlink">Sign the petition</h3></a>
    </div>
  </section>
  </div>
      <!--Fact Cards-->
      <h2 id="facts">The Facts</h2>
  <div class="container-fluid">

      <!--First Fact Card-->
  <section class="row">
    <div class="col-md-4 cards">
      <p class="Para" style="text-align: center;">
      UCSC has for multiple decades before 2000 had depended on government funds for about 50% of its budget; however, over the last 15 years, given to many of the government budget cuts, UCSC's budget dependency on the government has decreased significantly.<br>

      <img src="{% static 'assets/images/Government_Spending_Down.jpg' %}" class="img-fluid" alt="Responsive image">(UCSC Budget 2015-2015)
      The question is where did they get that money to be able to fund these massive cuts to their budget. Well, they got it from you. Your money is being the main factor of keeping this school afloat. According to the UCSC budget, Even though it may seem reasonable that this is a simple change from one revenue to another with little disruption, over the past 15 years, many programs have still been cut. <b>Academic Divisions, Academic Support, and Institutional Support have fallen 16%, 33%, and 32%, respectively</b>(UCSC Budget 2015-2015).
      
      </p>
    </div>
      <!--Second Fact Card-->
    <div class="col-md-4 cards">
      <p class="Para" style="text-align: center;">
        With all those cuts you may assume that UCSC is in dire-straits; however, financially, it could not be doing any better:

        This is a graph of the UCSCs revenue over the last 13 years.
         <img src="{% static 'assets/images/Graph_Tuition_Rising.jpg' %}" alt="Responsive image">(UCSC Budget 2015-2015)<br>
         (Red represents Student Tuition and Blue represent Government Funding)
         <br>
         <br>
         By this graph, UCSC could not be doing any better! This shows that over a span of 13 years, UCSC has managed to increase their revenue to other $710 million. That is huge.
         <br>
         You may argue that has increased due to inflation. That is a good comment; however, if we adjust for 13 years to keep the budget of the worth of $375 million in 2002 to 2015, in 2015, it would be $494 million. That is way less than what UCSC is making in 2015, today. Also, much of that increase has not been from government funding, gifts, contracts or others. It has been mainly to widening dependency of student tuition (Red). That is huge! Also, the Red bar is increasing far higher than any of the other colored bars that are shown.
         <br>
         Well, you may assume... what about the college experience?
      </p>
    </div>
      <!--Third Fact Card-->
    <div class="col-md-4 cards">
      <p class="Para" style="text-align: center;">
        Well lets do a little check-list of what UCSC offers with their cuts to immediate programs and subsequent spending on "future" projects:
        <br>
        <br>
        - First is how UCSC is turning many dorm rooms into overstuffed sardine cans. Over the last 8 years, the overflow bedspaces has increased four-fold (Overflow is a room that fits 1-2 people that now fits 3-4 people). Students are paying more for rooms that are not even able to comfortable fit them in:
        <br>
        <img src="{% static 'assets/images/Overflow.jpg' %}" alt="Responsive image">(UCSC Budget 2015-2015)<br>
        (The Yellow represents the "Overflow").
        <br>
        <br>
        - Second, you may be wondering, if that means UCSC is trying to compensate by lowering the amount of freshman that are enrolled at UCSC per year; however, it is just the opposite. Since they are dependent on student tuition to make up increasing their budget, they decided to increase the population of students at that school. Over the last 15 years, the student population doubled:
        <br>
        <img src="{% static 'assets/images/Pop.jpg' %}" alt="Responsive image">
        (UCSC Budget 2015-2015)
        <br>
        This shows that the school is using the increased student population to increase their budget; however, the figure before this one shows that the school's population capacity is still not ready for this kind of increase. Along with that, previous school programs keep being cut down, which does not compensate for the population increase.
        <br>
        <br>
        - Third, where is UCSC putting the extra money that UCSC is making due to the increase of the student tuitions and cutting other student? 
        <br>
        <br>
        Well, those funds are not going into any new programs, but they are going to fund new building projects. According to the UCSC 2015-2016 Budget, the upcoming projects that UCSC will begin to build over the next several years<b>Student Housing West Phase 1, Kresge College Housing Renovations, College Eight and Porter College Dining Expansion and major maintenance in Family Student Housing, Crown College, Merrill Cultural Center, and Oakes College</b>(UCSC Budget 2015-2015). Many of those projects will be built, after we have already graduated UCSC... So we are footing the bill for facilities that will not even be here for...
      </p> 
    </div>
  </section>
  </div>
  <!--Only Solution Card-->
      <h2 id="sol">Let's Take Action!</h2>
      <div class="container-fluid" id="sol">

  <section class="row">

    <div class="col-md-4 cards">
    </div>
    <div class="col-md-4 cards">
      <p class="Para">
        Our plan with this website is pretty simple. On the bottom of the page is a form that asks you to state your name, email, and info. For the Info box, the purpose of that box is because everyone is affected by this tuition hike in some way; these facts can no way cover the broad number of reasons people are affected by this. The information page is a way for us to get across your struggles to the provots of the colleges, the Trustees of UCSC, and Mr. Blumenthal. The information after a certain amount of (valid) entries will be rounded up and sent to these people's emails previously discussed above at the student's own discretion. Our main goal with this project is to  We thank you for your willingness to give your voice for a cause that will help all UCSC students from now to future classes. 
      </p>
    </div>
    <div class="col-md-4 cards">
    </div>
  </section>
  </div>
  <!--Petition/Contact Sheet-->
  <footer id="footer">
  <section>
  <br>
    <h2 style="color:white;">Take Action</h2>
    <h3 style="color: white;">Add your name, email, and story to our petiton:</h3>
    {% block content %}
    <h1 style="color:white;">Contact</h1>
    <form role="form" action="" method="post" style="color:white;">
      {% csrf_token %}
      {{ form.as_p }}
      <div id="button">
      <button type="submit" style="color:black;">Submit</button>
      </div>
    </p>
    </form>
    {% endblock %}
  </section>
  </footer>
  <script src="/static/assets/bootstrap/js/jquery.min.js"></script>
  <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

</body>
</html>